/* .homeBody {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
}

.productContainer {
    display: grid;
    grid-template-areas: 
        "image desc desc";
    justify-content: start;
    cursor: pointer;
    margin-bottom: 1%;
}

.imageContainer {
    grid-area: image;
    width: min-content;
}

.imageContainer img {
    height: 200px;
    width: 150px;
}

.contentContainer {
    grid-area: desc;
    display: grid;
    padding: 1rem;
    width: 80ch;
}

.contentContainer > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

} */


.container {
    gap: 1em;
    display: grid;
    place-content: center;
    background: url("https://residentsound.files.wordpress.com/2021/04/twin-peaks-flooring.jpeg?w=1024");
}

.container > h2 {
    font-size: 3vh;
    text-align: center;
    padding: .5em;
    background: black;
}