.container {
    display: grid;
    width: 450px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background: #fff;
    overflow: hidden;
}

.container > img {
    grid-column: 1 / 6;
    grid-row: 1 / 6;
}

.container > div {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
    backdrop-filter: blur(10px);
    transition: all .3s;

}

.container > div:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all .3s;
}

.slide {
    animation: slide .2s;
}

.loaded {
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    animation: loaded .5s;
}

.loading {
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    backdrop-filter: blur(5px);
    transition: backdrop-filter .5s ease;
}

@keyframes slide {
    from {
        transform: translate(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes loaded {
    from {
        backdrop-filter: blur(5px);
    }

    to {
        backdrop-filter: blur(0px);
    }
    
}